body{
    background-color: #0a0a0a; 
    margin-top: 5%;
    margin-left: 40%; 
    font-family: 'Times New Roman', Times, serif;
      margin-right: 40%; 
   
}
.container{
    align-content: center;
    text-align: center;
    background-color: rgb(89, 7, 243);
    width: 240px;
}

.time-display{
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: white;
    width: 230px;
    height: 10%;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px; 
     /* margin-left: 35px;  */

}


.timer{
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-right: 10px;
}

#clock{
    font-size: 3rem;
    font-weight: bold;
    color: black;

}

.alarm-heading{
    color: whitesmoke;
    margin-bottom: 20px;
    padding-top: 50px;
}

.set-alarm-field{
    margin-top: -20px;
    height: 40px;
    /* background-color: yellowgreen; */
    padding-top: 0px;
}

.controls button{
    background-color: #466a99;
    border-color: #466a99;
    color: whitesmoke;
    width: 105px;
    height: 35px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight:500;
    cursor: pointer;
}

.controls button:hover{
    background-color: #0d0d0e;
}

#myList{
    list-style-type: none;
    
}

#myList li{
    font-size: 1.2rem;
    color: whitesmoke;
    background-color: #3904f8;
    height: 2rem;
    margin-left: -40px;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 10px;
    width: 230px;
    margin-bottom: 10px;

}

.time-list{
    display: flex;
    flex-direction: row;
}


.time-list span{
    /* background-color: violet; */
    width: 120px;
    margin-right: 18px;
    
}

.time-list button{
    background-color: #01050c;
    border-color: #0b0c0c;
    border-radius: 3px;
    border-width: 0px;
    height: 22px;
    color: whitesmoke;
    cursor: pointer;
}

.clear-alarm{
    background-color: #01050c;
   border-color: #0b0c0c;
   color: whitesmoke;
   border-radius: 4px;
   cursor: pointer;
}
/* popup page */
.popup{
    margin-top: -250px; 
    background: #fff; 
    border-radius: 6px;
    text-align: center;
}


.popup img{
    box-sizing: content-box;
    width:250px;
    height:250px;
}
/* media queries */
/* mobile device */
@media only screen and (min-width:0px) and (max-width:576px){
    body{
        margin-left: 20%;
        margin-right: 40%px;
    }
    .hr{
        margin-top: 15px;
        margin-right: 80%;
        width: 152%;
    }
    .popup {
        width:250px;
        height:330px;
         border-radius: 6px; 
        margin-left: -2%;
        padding: 2%;
        margin-top:-190%;
        border-radius: 6px;
    }
    .popup img{
      height: 290px;
      width: 250px;
      border-radius: 6px; 
      margin-bottom: 10px;
    }
}

/* tab */
@media only screen and (min-width:577px) and (max-width:768px){
    body{
        margin-left: 350px;
        margin-right: 350px;
    }
    .hr{
        margin-top: 15px;
        margin-right: 80%;
        width: 41%;
    }
    .popup {
        width:250px;
        height:330px;
         border-radius: 6px; 
        margin-left: -2%;
        padding: 2%;
        margin-top: -410%;
    }
    .popup img{
      height: 290px;
      width: 250px;
      /* border-radius: 6px; */
      margin-bottom: 10px;
    }
}


@media only screen and (min-width:769px) and (max-width:992px){
    body{
        margin-left: 350px;
        margin-right: 350px;
    }
    .hr{
        margin-top: 15px;
        margin-right: 80%;
        width: 41%;
    }
    .popup {
        width:250px;
        height:330px;
         border-radius: 6px; 
        margin-left: -2%;
        padding: 2%;
        margin-top: -240%;
        background-color: #f8f9fa;
    }
    .popup img{
      height: 290px;
      width: 250px;
      /* border-radius: 6px; */
      margin-bottom: 10px;
    }
}
/* for tab */

@media only screen and (min-width:993px) and (max-width:1200px){
    body{
        margin-left: 350px;
        margin-right: 350px;
    }
    .hr{
        margin-top: 15px;
        margin-right: 80%;
        width: 41%;
    }
    .popup {
        width:250px;
        height:350px;
         border-radius: 6px; 
        margin-left: -2%;
        padding: 2%;
        margin-top: -93%;
        background: #fff;
    }
    .popup img{
      height: 300px;
      width: 250px;
      /* border-radius: 6px; */
      margin-bottom: 10px;
    }
}
/* desktop */
@media only screen and (min-width:1201px) and (max-width:1400px){
    body{
        margin-left: 350px;
        margin-right: 350px;
    }
    .hr{
        margin-top: 15px;
        margin-right: 80%;
        width: 41%;
    }
    .popup {
        width:250px;
        height:300px;
         border-radius: 6px; 
        margin-left: -2%;
        padding: 2%;
        margin-top: -50%;
    }
    .popup img{
      height: 250px;
      width: 250px;
      /* border-radius: 6px; */
      margin-bottom: 10px;
    }
}

